/*everyday money*/
#em_body {
  background-color: rgb(118, 146, 206);
}
#em_h1 {
  text-align: center;
  font-family: 'Monoton', sans-serif;
  font-size: 100px;
}
#em_p {
  text-align: center;
  font-family: "Anton SC",serif;
  font-size: 30px;
}
h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Monoton', sans-serif;
}
#em_img {
  display: grid;
  justify-content: center;
  background-color: rgb(76, 97, 153);
}
#em_img1 {
  border-radius: 250px;
  width: 400px;
  margin-left: 550px;
  padding: 50px;
}
#em_img2 {
  border-radius: 250px;
  width: 500px;
  padding: 100px;
}
#em_img3 {
  border-radius: 250px;
  width: 500px;
  justify-content: center;
}
#em_img4 {
  border-radius: 250px;
  width: 300px;
  margin-left: 300px;
}
#em_video, #fc_video, #bf_video {
  text-align: center;
}
#em_dollar {
  width: 50px;
}
#em_utilities_and_services {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#em_ul {
  list-style-position: inside;
  border: 5px dashed rgb(105, 105, 150);
}
#em_leisure_and_entertainment_div {
  border: 10px dashed rgb(105, 105, 150);
}
#em_utilities_and_services {
  font-size: 40px;
  text-align: center;
  background-color: rgb(76, 97, 153);
}
h3 {
  font-size: 50px;
  text-align: center;
}
#em_miscellaneous_expenses {
  position: relative;
  width: 50%;
  margin: 20px auto;
}
#em_miscellaneous_expenses img {
  width: 100%;
  height: auto;
  display: block;
}
#em_miscellaneous_expenses p {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(51, 119, 136);
  padding: 10px;
  border-radius: 5px;
  font-size: 50px;
  text-align: center;
}
#em_ol {
  font-size: 30px;
  padding: 20px;
  line-height: 40px;
  list-style-position: inside;
  background: linear-gradient(to bottom right, rgb(76, 97, 153) 50%, rgb(118, 127, 180) 50%);
}
#em_budget_planner_div {
  text-align: center;
}
#em_budget_planner_button {
  font-size: 50px;
  width: 500px;
  height: 100px;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(19, 59, 105);
  color: rgb(250, 239, 239);
  border: 10px groove rgb(46, 172, 204);
}
#em_budget_planner_button img {
  width: 70px;
}
#em_personalize_your_budget {
  background-color: rgb(19, 59, 105);
  font-size: 40px;
  color: rgb(250, 239, 239);
  text-align: center;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
#em_personalize_your_budget p {
  background-color: rgb(250, 239, 239);
  color: black;
  font-size: 20px;
}
#em_thead {
  background-color: rgb(64, 141, 141);
}
#em_tbody select, #em_tbody input {
  border: 5px solid rgb(52, 109, 109);
  font-size: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#add_button, tfoot {
  text-align: left;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 1em;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
}
nav ul li {
  margin: 0 15px;
}
ul {
  margin-left: 120px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 54px;
}
.search-container input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}
.search-container button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
.search-container button:hover {
  background-color: #555;

}
.logo {
  height: 94px;
  width: 124px;
  margin-left: 120px;
}
.home-image {
  width: 1534px;
  background-color: rgb(68, 62, 62);
}

/*Family and care*/
#fc_body {
  background-color: rgb(37, 134, 134);
}
#fc_title_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#fc_title {
  font-family: "Anton SC", serif;
  font-size: 100px;
  text-align: center;
}
#fc_title_img {
  display: grid;
  place-items: center;
}
#fc_ul {
  position: absolute;
  top: 70%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(37, 134, 134);
  padding: 10px;
  border-radius: 5px;
  font-size: 50px;
}
#fc_childcare {
  background-color: rgb(223, 216, 216);
  border: 5px solid rgb(173, 218, 221);
}
#fc_childcare p {
  background-color: rgb(131, 195, 206);
  padding: 30px;
}
#fc_elder_care {
  margin-top: 10px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 60px;
}
.fc_elder_care_img {
  cursor: pointer;
  width: 500px;
  height: 300px;
}
#fc_btn1, #fc_btn2, #fc_btn3, #fc_btn4, #fc_btn5, #fc_btn6 {
  background: none;
  border: none;
  padding: 0;
}
#fc_img1, #fc_img2, #fc_img3, #fc_img4, #fc_img5, #fc_img6 {
  transition: transform 1.5 ease;
}
#fc_img1:hover, #fc_img2:hover, #fc_img3:hover, #fc_img4:hover, #fc_img5:hover, #fc_img6:hover {
  transform: scale(1.5);
}
#fc_emotional_support {
  display: grid;
  grid-template-columns: 1.6fr 0.7fr 0.7fr;
}
#fc_h2 {
  font-family: "Anton SC", serif;
  padding-top: 20px;
}
#fc_p {
  font-size: 40px;
  text-align: center;
}
#fc_video-info {
  font-size: 25px;
  text-align: center;
}
#fc_video_p {
  font-size: 40px;
  text-align: center;
}
#fc_video_div {
  border-top: 3px solid rgb(159, 180, 182);
}
#fc_ontario {
  text-align: center;
  font-size: 40px;
  border: 20px groove rgb(173, 218, 221);
  list-style-position: inside;
}
#fc_emotional_support_info1 {
  border: 5px solid rgb(173, 218, 221);
}
#fc_emotional_support_info2, #fc_emotional_support_info3 {
  background-color: rgb(138, 209, 221);
  padding: 40px;
  font-size: 40px;
}
#fc_family_activities {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  background-color: rgb(138, 209, 221);
}
#fc_family_activities_img {
  margin-left: 10%;
}
#fc_family_activities_div {
  font-size: 20px;
  border: 20px solid rgb(173, 218, 221);
  font-weight: bold;
}
#fc_family_activities_p {
  background-color: white;
  border-radius: 30px;
}
/*benefits*/
#bf_body {
  background-color: #dd7458;
}
#bf_h1 {
  font-family: "Bowlby One", sans-serif;
  font-size: 100px;
  text-align: center;
}
.card-title {
  border-radius: 5px;
  font-size: 50px;
  font-family: "Lacquer", system-ui;
}
.row {
  border: 10px dotted #b0bacd;
}
.card-text {
  background-color: #fed686;
  border-radius: 5px;
  font-size: 30px;
}
.btn {
  background-color: #fae2c3;
}
#bf_h2 {
  font-family: "Bowlby One", sans-serif;
  padding-top: 30px;
}
#bf_p {
  font-size: 30px;
  text-align: center;
}
#bf_video {
  text-align: center;
  justify-content: center;
}
#bf_by_applying {
  border-top: 5px dotted #b0bacd;
}
/*footer*/
footer {
  background-color: #222222; 
  color: #ffffff;
}
footer a {
  color: #ff9800;
}
footer a:hover {
  color: #febf61;
}
.banner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px 20px;
  margin: 100px;
  border: 4px solid #000000; 
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.arrow {
  width: 20px;
  height: 20px;
  border: 4px solid #ff0080; 
  border-width: 4px 4px 0 0;
  transform: rotate(45deg);
  margin-right: 10px;
}

.banner span {
  font-size: 30px;
  color: #001A5E; 
}

.banner span strong {
  font-weight: bold;
}