/*Finance and Insurance*/
#fi-h1 {
  text-align: center;
  font-family: 'Monoton', sans-serif;
  font-size: 50px;
}
#fi-h3 {
  text-align: center;
  font-family: "Anton SC",serif;
}
/* make the pictures in the center*/
#fi-img {
  display: grid;
  justify-content: center;
}
#fi-img1 {
  border-radius: 200px;
  width: 200px;
  padding: 40px;
  margin-left: 160px;
}
#fi-img2 {
  border-radius: 200px;
  width: 200px;
  padding: 100px;
}
#fi-img3 {
  border-radius: 50px;
  width: 300px;
}
#fi-img4 {
  border-radius: 200px;
  width: 200px;
  margin-left: 350px;
  padding: 100px;
}
#fi-h2 {
  text-align: center;
  font-family: 'Monoton', sans-serif;
  font-size: 30px;
} 
#fi-dollar {
  width: 50px;
}
tbody {
  background-color: rgb(84, 84, 194);
}
thead {
  border: 1px solid black;
  background-color: rgb(68, 62, 62);
}
/*Family*/
#fa_div {
  display: grid;
  justify-content: center;
}
#childcare_and_education {
  height: 400px;
  width: 1000px;
}