
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1em;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
}
nav ul li {
  margin: 0 15px;
}
ul {
  margin-left: 120px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 54px;
}
.search-container input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}
.search-container button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
.search-container button:hover {
  background-color: #555;

}
.logo {
  height: 94px;
  width: 124px;
  margin-left: 120px;
}
.home-image {
  width: 1534px;
  height: ;
}